* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    width: fit-content;
    overflow: hidden;
}

.image-slider__images {
    display: flex;
    overflow: hidden;
    width: 90vw;
    max-width: 1000px;
    aspect-ratio: 16/9;
    margin: 1em auto;
    scroll-behavior: smooth;
}

.image-slider__image {
    min-width: 100%;
    object-fit: cover;
}

.image-slider__button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 6em;
    font-weight: bold;
    color: lightgray;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image-slider__button:hover {
    filter: brightness(1.1);
}

.image-slider__button:active {
    filter: brightness(1.2);
    top: 50.5%;
}

.image-slider__button--left {
    left: -10%;
}

.image-slider__button--right {
    right: -10%;
}

.image-slider:hover > .image-slider__button--left {
    left: 2%;
}

.image-slider:hover > .image-slider__button--right {
    right: 2%;
}

.image-slider__dots {
    display: flex;
    margin: auto;
    gap: 0.8em;
    position: absolute;
    bottom: 5%;
}

.image-slider__dot {
    appearance: none;
    width: 1.8em;
    aspect-ratio: 1;
    background-color: lightgray;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image-slider__dot:checked {
    background-color: gray;
}

